body{
    background-color: rgb(226, 214, 214);
    margin: 0px;
}

.hero {
    background-image: url(../Cenrourinha-flor.jpg);
    height: 600px;
    background-size: 100%;
    background-position: bottom;
    border-style: dotted;
    border-color: yellow;
    border-width: 15px;
}

.hero-content{
    text-align: center;
    color: white;
    margin-top: 150px;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-content h1{
    text-transform: uppercase;
    font-size: 30px;
    text-shadow: 3px 3px 8px rgb(251, 255, 1);
}

.hero-content p{
    font-family:Arial, Helvetica, sans-serif;
}